In [1]:
from rdflib import Graph, Literal, RDF, URIRef
# rdflib knows about quite a few popular namespaces, like W3C ontologies, schema.org etc.
from rdflib.namespace import FOAF , XSD
from rdflib.namespace import NamespaceManager
from rdflib import BNode

In [2]:
g = Graph()
g.parse("registry.n3")

In [3]:
def searchandinvoke (ms_type,ms_input_category, ms_output_category, input_source):
    invoke=''
    q = """
        PREFIX ns1: <http://aimicroservice.derby.ac.uk/>
        
        SELECT *
        WHERE {""" 
    if len(ms_type)>0:
        q=q+"""?ms rdf:type ns1:"""+ms_type+""" .
    """
    if len(ms_input_category)>0:
        q=q+""" ?ms ns1:input ?in .""" 
        for xc in ms_input_category:
            inputdata = xc.split('.')
            if len(inputdata)>1:
                q=q+"""?in ns1:iocategory ns1:"""+inputdata[0]+""" . """ 
                q=q+"""?in ns1:iodatatype ns1:"""+inputdata[1]+""" ."""
            else:
                q=q+"""{?in ns1:iocategory ns1:"""+xc+""" .} UNION {?in ns1:iodatatype ns1:"""+xc+""" .} """
            #q=q+"""?in ns1:iocategory ns1:"""+xc+""" .""" 
        #for xd in ms_input_datatype:    
            #q=q+"""?in ns1:iodatatype ns1:"""+xd+""" .    
    if len(ms_output_category)>0:
        q=q+""" ?ms ns1:output ?out .""" 
        for xc in ms_output_category:
            outdata = xc.split('.')
            if len(outdata)>1:
                q=q+"""?out ns1:iocategory ns1:"""+outdata[0]+""" . """ 
                q=q+"""?out ns1:iodatatype ns1:"""+outdata[1]+""" ."""
            else:
                q=q+"""{?out ns1:iocategory ns1:"""+xc+""" .} UNION {?out ns1:iodatatype ns1:"""+xc+""" .}"""
        #for xc in ms_output_category:
            #q=q+"""?out ns1:iocategory ns1:"""+xc+""" .""" 
        #for xd in ms_output_datatype:    
            #q=q+"""?out ns1:iodatatype ns1:"""+xd+""" .
    q=q+"}"
    print (q)
    qr = g.query(q)
    if len(qr)==0:
        print('No microservice has been find')
    else:
        for r in qr:
            print(r["ms"].split('/')[-1])
            invoke = r["ms"].split('/')[-1]
        modules = {}
        try:
            modules[invoke] = __import__(invoke)
            print ("Successfully imported", invoke, 'microservice.')
            if len(input_source)>0:
                if len(input_source)==1:
                    return modules[invoke].function(input_source[0])
                if len(input_source)==2:
                    return modules[invoke].function(input_source[0],input_source[1])
                if len(input_source)==3:
                    return modules[invoke].function(input_source[0],input_source[1],input_source[2])
                if len(input_source)==4:
                    return modules[invoke].function(input_source[0],input_source[1],input_source[2],input_source[3])
                if len(input_source)==5:
                    return modules[invoke].function(input_source[0],input_source[1],input_source[2],input_source[3],input_source[4])
            else:
                return modules[invoke].function()
        except ImportError:
            print ("Error importing ", invoke, '.')
            return 'Error message 01'

In [4]:
output_value = searchandinvoke ('ETL_load',['datafile.csv'], ['datafile.pandas'], ['heart.csv'])

        PREFIX ns1: <http://aimicroservice.derby.ac.uk/>

        SELECT *
        WHERE {?ms rdf:type ns1:ETL_load .
     ?ms ns1:input ?in .?in ns1:iocategory ns1:datafile . ?in ns1:iodatatype ns1:csv . ?ms ns1:output ?out .?out ns1:iocategory ns1:datafile . ?out ns1:iodatatype ns1:pandas .}
loadnormalpddata
Successfully imported loadnormalpddata microservice.

In [5]:
output_value

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
output_value1 = searchandinvoke ('ETL_transform','', ['pipeline.processor'], '')

        PREFIX ns1: <http://aimicroservice.derby.ac.uk/>

        SELECT *
        WHERE {?ms rdf:type ns1:ETL_transform .
     ?ms ns1:output ?out .?out ns1:iocategory ns1:pipeline . ?out ns1:iodatatype ns1:processor .}
scalling
Successfully imported scalling microservice.

In [7]:
output_value2 = searchandinvoke ('DE_split',['datafile.pandas','varable.str'], ['datafile.pandas'], [output_value,'target'])

        PREFIX ns1: <http://aimicroservice.derby.ac.uk/>

        SELECT *
        WHERE {?ms rdf:type ns1:DE_split .
     ?ms ns1:input ?in .?in ns1:iocategory ns1:datafile . ?in ns1:iodatatype ns1:pandas .?in ns1:iocategory ns1:varable . ?in ns1:iodatatype ns1:str . ?ms ns1:output ?out .?out ns1:iocategory ns1:datafile . ?out ns1:iodatatype ns1:pandas .}
spliting
Successfully imported spliting microservice.

In [8]:
len(output_value2)

6

In [9]:
output_value2[0].head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [10]:
output_value3 = searchandinvoke ('MLmodel_classification','', ['model.logistic_regression'], '')

        PREFIX ns1: <http://aimicroservice.derby.ac.uk/>

        SELECT *
        WHERE {?ms rdf:type ns1:MLmodel_classification .
     ?ms ns1:output ?out .?out ns1:iocategory ns1:model . ?out ns1:iodatatype ns1:logistic_regression .}
lrsklmodel
Successfully imported lrsklmodel microservice.

In [11]:
output_value4 = searchandinvoke ('ML_featuretest',['datafile.logistic_regression','model.pandas','pipeline.processor'], ['model.dict'], [output_value2[0],output_value2[1],output_value3,output_value1])

        PREFIX ns1: <http://aimicroservice.derby.ac.uk/>

        SELECT *
        WHERE {?ms rdf:type ns1:ML_featuretest .
     ?ms ns1:input ?in .?in ns1:iocategory ns1:datafile . ?in ns1:iodatatype ns1:logistic_regression .?in ns1:iocategory ns1:model . ?in ns1:iodatatype ns1:pandas .?in ns1:iocategory ns1:pipeline . ?in ns1:iodatatype ns1:processor . ?ms ns1:output ?out .?out ns1:iocategory ns1:model . ?out ns1:iodatatype ns1:dict .}
featureengineering
Successfully imported featureengineering microservice.

In [15]:
output_value5 = searchandinvoke ('ML_optimisation',['datafile.pandas','model.dict'], ['score.float','model.dict'], [output_value4,output_value2[3],output_value2[5]])

        PREFIX ns1: <http://aimicroservice.derby.ac.uk/>

        SELECT *
        WHERE {?ms rdf:type ns1:ML_optimisation .
     ?ms ns1:input ?in .?in ns1:iocategory ns1:datafile . ?in ns1:iodatatype ns1:pandas .?in ns1:iocategory ns1:model . ?in ns1:iodatatype ns1:dict . ?ms ns1:output ?out .?out ns1:iocategory ns1:score . ?out ns1:iodatatype ns1:float .?out ns1:iocategory ns1:model . ?out ns1:iodatatype ns1:dict .}
featuremodelevaluation
Successfully imported featuremodelevaluation microservice.

In [13]:
output_value5[0]

[0.7466666666666666,
 0.7699999999999998,
 0.7666666666666665,
 0.7799999999999998,
 0.8366666666666664,
 0.8366666666666664,
 0.7866666666666667,
 0.81,
 0.81,
 0.7966666666666667,
 0.8066666666666666]

In [16]:
select_pipem=output_value5[1]

In [18]:
select_pipem.fit(output_value2[0],output_value2[1])

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(add_indicator=True,
                                                                                 strategy='median')),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x00000236ADE90040>),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='constant')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x00000236ADE901C0>)])),
                ('rfe',
                 RFE(estimator=LogisticRegression(), n_features_to_select=4))])

In [20]:
select_pipem.named_steps['rfe'].support_

array([False,  True,  True, False, False, False, False, False, False,
        True, False,  True, False])

In [24]:
#persistant the best_model in the disc but described as triple knowledge 
import joblib
from joblib import dump,load

In [25]:
joblib.dump(output_value5[1], 'demo1.joblib')

['demo1.joblib']

In [26]:
clf = load('demo1.joblib')

In [27]:
print(clf)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(add_indicator=True,
                                                                                 strategy='median')),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x00000236AE144730>),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='constant')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x00000236AE0CC1F0>)])),
                ('rfe',
                 RFE(estimator=LogisticRegression(), n_features_to_select=4))])

In [28]:
clf.fit(output_value2[0],output_value2[1])

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(add_indicator=True,
                                                                                 strategy='median')),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x00000236AE144730>),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='constant')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x00000236AE0CC1F0>)])),
                ('rfe',
                 RFE(estimator=LogisticRegression(), n_features_to_select=4))])

In [29]:
select_pipem.named_steps['rfe'].support_

array([False,  True,  True, False, False, False, False, False, False,
        True, False,  True, False])

In [22]:
q = """
        PREFIX ns1: <http://aimicroservice.derby.ac.uk/>
        
        SELECT *
        WHERE {?ms rdf:type ns1:ETL_transform .
     ?ms ns1:input ?in .{?in ns1:iocategory ns1:pipeline .} UNION {?in ns1:iodatatype ns1:pipeline .}  ?ms ns1:output ?out .{?out ns1:iocategory ns1:processor .} UNION {?out ns1:iodatatype ns1:processor .}}
    
    """
qr = g.query(q)
if len(qr)==0:
    print('No microservice has been find')
else:
    print('yes')

yes